<%- include('header',{title: 'View Booking' ,styles:'viewbooking' }) %>

	<div id="booking" class="section">
		<div class="section-center">
			<button id="toggle" class="btn btn-primary">Toggle Booking Form</button>
			<div id="content" class="container">
				<div class="row">
					<span class="text-info" id="booking_msg">
						<%- messages() %>
					</span>
					<div id="bookingForm" class="booking-form" style="display: none;padding-bottom: 100px;">
						<form action="/book/edit?_method=PUT" method="POST">
							<input type="hidden" name="_method" value="PUT">
							<div class="row">
								<div id="ref" class="col-md-12" style="display: none;">
									<div class="form-group">
										<span class="form-label">Booking Reference</span>
										<input id="bookingref" name="_id" value="<%= booking._id %>"
											class="form-control" type="text" placeholder="Booking reference" disabled>
										<input type="hidden" name="_id" id="_id" value="<%= booking._id %>">
									</div>
								</div>
							</div>
							<div id="bookingDetails">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Full Name</span>
											<input id="fullname" name="FullName" value="<%= booking.FullName %>"
												class="form-control" type="text" placeholder="Full Name" disabled>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Car Name</span>
											<input id="carName" value="<%= vehicle.Name %>" class="form-control"
												type="text" placeholder="Car name" disabled>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Pick-up</span>
											<input id="pickup_date" name="Pickup_date"
												value="<%= booking.Pickup_date %>" class="form-control date_picker"
												type="date" disabled>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Return</span>
											<input id="return_date" name="Dropoff_date"
												value="<%= booking.Dropoff_date %>" class="form-control date_picker"
												type="date" disabled>
										</div>
									</div>
									<div id="costdiv" class="col-md-4">
										<div class="form-group">
											<span class="form-label">Total Price</span>
											<input type="hidden" class="form-control" id="cost_hidden"
												name="Total_price">
											<input id="cost" name="Total_price" value="<%= booking.Total_price %>"
												class="form-control" type="text" disabled>
										</div>
									</div>

									<!-- <div id=finaldiv class="col-md-4" style="display: none;">
										<div class="form-group">
											<span class="form-label">Cost</span>
											<input id="final" class="form-control" type="text" disabled>
										</div>
									</div> -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-2"></div>
									<div id="viewBookingbtn" class="col-md-8">
										<div class="form-btn">
											<input type="button" class="submit-btn" value="View Booking"
												onclick="viewBooking()" />
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div id="modifyBookingbtn" class="col-md-12">
										<div class="form-btn">
											<input type="button" class="submit-btn" style="background-color:#3ed1f2;"
												onclick="modifyBooking()" value="Change Dates" />
										</div>
									</div>
									<div id="saveBookingbtn" class="col-md-12">
										<div class="form-btn">
											<input type="submit" class="submit-btn" style="background-color:#4ac994;"
												onclick="saveBooking()" value="Save Changes" />
										</div>
									</div>

								</div>
							</div>
						</form>
						<div class="">
							<div id="cancelBookingbtn" class="col-md-12">
								<form action="/book/delete?_method=DELETE" method="POST">
									<input type="hidden" name="_method" value="DELETE">
									<div class="form-btn">
										<input type="hidden" name="_id" id="_id" value="<%= booking._id %>">
										<button type="submit" class="submit-btn">Cancel
											Booking</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<%- include('footer') %>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
			crossorigin="anonymous"></script>
		<script src="js/booking.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				$('#bookingForm').fadeIn(1500, function () { });
			});
			$('.footer-distributed').css('margin-top', '0px');
		</script>

		<script>
			$(document).ready(function () {
				$("#toggle").click(function () {
					$("#content").toggle(1000);
				});
			});
		</script>

		<script>
			var booking = '<%- JSON.stringify(booking) %>';
			var booked_car_data = JSON.parse(booking.replace("\n", ""));
			var car = '<%- JSON.stringify(vehicle) %>';
			var car_data = JSON.parse(car.replace("\n", ""));
			function viewBooking() {
				$('#booking_msg').html('');

				if (booked_car_data) {
					$("#bookingDetails").show(1500);
					document.getElementById("pickup_date").value = new Date(booked_car_data["Pickup_date"]).toISOString().slice(0, 10);
					document.getElementById("return_date").value = new Date(booked_car_data["Dropoff_date"]).toISOString().slice(0, 10);
					document.getElementById("booking").style.backgroundImage = "url(" + car_data['Img_path'] + ")";

					document.getElementById("viewBookingbtn").style.display = "none";
					document.getElementById("ref").style.display = "inline";
					document.getElementById("modifyBookingbtn").style.display = "inline";
					document.getElementById("cancelBookingbtn").style.display = "inline";
				}
				else {
					$('#booking_msg').html('No Booking found!!')
				}
			}

			function modifyBooking() {
				$('#booking_msg').html('');
				$('#pickup_date').prop('disabled', false);
				$('#return_date').prop('disabled', false);
				document.getElementById("modifyBookingbtn").style.display = "none";
				document.getElementById("saveBookingbtn").style.display = "inline";
			}
			$('.date_picker').on('change', function () {
				pickup = $('#pickup_date').val();
				dropoff = $('#return_date').val();
				dailyrate = car_data.Price_Daily;
				weeklyrate = car_data.Price_Weekly;
				monthlyrate = car_data.Price_Monthly;
				if (pickup != undefined && pickup != null && pickup != "" && dropoff != undefined && dropoff != null && dropoff != "") {

					pickup_date = new Date(pickup);
					dropoff_date = new Date(dropoff);
					if (pickup_date < dropoff_date) {

						t1 = pickup_date.getTime();
						t2 = dropoff_date.getTime();
						var diff1 = Math.abs(t2 - t1);
						var millisecondsInADay = (1000 * 3600 * 24);
						var diffindays = diff1 / millisecondsInADay;
						var week_quot = 0;
						var week_rem = 0;
						var rem;

						var week = 7;


						if (diffindays < 7) {


							rate = dailyrate * diffindays;
						}
						else if (diffindays < 30) {


							diff = Math.floor(diffindays / week);
							rem = diffindays % week;
							rate = (weeklyrate * diff) + (rem * dailyrate);

						}
						else {
							diff = Math.floor(diffindays / 30);
							rem_month = diffindays % 30;
							if (rem_month > 7) {
								week_quot = Math.floor(rem_month / 7);
								week_rem = rem_month % week;

							}


							else {

								week_rem = rem_month % week;
							}

							rate = (monthlyrate * diff) + (weeklyrate * week_quot) + (week_rem * dailyrate);


						}
						cost = (rate).toFixed(2);
						document.getElementById('cost').value = cost;
						document.getElementById('cost_hidden').value = cost;

					}
					else {
						alert("Please select a valid drop-off date!!");
					}
				}
			});

			function saveBooking() {

				document.getElementById("booking_msg").style.color = "green";
				$('#booking_msg').html('Booking Modified!')
			}

			function cancelBooking() {
				$('#booking_msg').html('');

				document.getElementById("booking_msg").style.color = "red";
				$('#booking_msg').html('Booking Cancelled!')
			}


		</script>


		</body>

		</html>