<%- include('header',{title: 'Car' ,styles:'vehicle' }) %>
    <section id="mainG">
        <div class="flex-containerG"></div>
        <div id="img-divG">
            <img src="images/cleaning1.png" id="imageG" alt="">
        </div>
        <div class="textG">
            <h2 id="titleG">Enhancing Customer's Safety </h2>
            <lu>

                <li>As health and safety measures, all our rental vehicles are cleaned <br>
                    and sanitized before your pick-up.</li>
                <li>Each vehicle is provided with disinfectant wipes and 2 pieces of disposable masks.</li>
            </lu>
            <button data-modal-target="#modal" class="open-button">Please read the Terms and Conditions before
                booking</button>
        </div>
    </section>



    <%- include('termsAndConditions') %>
        <div id="overlay"></div>

        <div class="container">


            <% for(var i=0;i<cars.length;i++){ %>

                <% if(i%4==0) { %>

                    <div class="container2">
                        <% } %>

                            <div class="card">
                                <div class="img">
                                    <img src="<%= cars[i].Img_path %>">
                                </div>
                                <div class="top-text">
                                    <div class="name">
                                        <%= cars[i].Name %>
                                    </div>
                                    <p>
                                        <%= cars[i].Model %>
                                    </p>
                                </div>
                                <div class="bottom-text">
                                    <div class="text">
                                        <div><span class="icon ion-md-pricetags"> : </span><span>$<%=
                                                    cars[i].Price_Daily %>/day,
                                                    $<%= cars[i].Price_Weekly %>/week,
                                                        $<%= cars[i].Price_Monthly %>/month</span>
                                        </div>
                                        <div><span class="icon ion-md-car"> : </span> <span>
                                                <%= cars[i].Transmission %>
                                            </span>
                                        </div>
                                        <div><span class="icon ion-md-people"> : </span> <span>
                                                <%= cars[i].Seating_capacity %>
                                            </span></div>
                                        <br>
                                        <%= cars[i].Description %>
                                    </div>
                                    <div class="btn booking">
                                        <a href="/book?id=<%= cars[i]._id %>">Book</a>
                                    </div>
                                </div>
                            </div>
                            <% if(i%4==3) { %>

                    </div>
                    <% } %>
                        <% } %>

        </div>

        <%- include('footer') %>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
                crossorigin="anonymous"></script>
            <script src="js/booking.js"></script>
            <script>
                const openModalButtons = document.querySelectorAll('[data-modal-target]')
                const closeModalButtons = document.querySelectorAll('[data-close-button]')
                const overlay = document.getElementById('overlay')

                openModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = document.querySelector(button.dataset.modalTarget)
                        openModal(modal)
                    })
                })

                overlay.addEventListener('click', () => {
                    const modals = document.querySelectorAll('.modal.active')
                    modals.forEach(modal => {
                        closeModal(modal)
                    })
                })

                closeModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = button.closest('.modal')
                        closeModal(modal)
                    })
                })

                function openModal(modal) {
                    if (modal == null) return
                    modal.classList.add('active')
                    overlay.classList.add('active')

                }

                function closeModal(modal) {
                    if (modal == null) return
                    modal.classList.remove('active')
                    overlay.classList.remove('active')
                }




            </script>



            </body>

            </html>