<%- include('header',{title: 'Van' ,styles:'vehicle' }) %>


    <section id="mainG">
        <div class="flex-containerG"></div>
        <div id="img-divG">
            <img src="images/cleaning1.png" id="imageG" alt="">
        </div>
        <div class="textG">
            <h2 id="titleG">Enhancing Customer's Safety </h2>
            <lu>
                <li>As health and safety measures, all our rental vehicles are cleaned
                    and sanitized before your pick-up.</li>
                <li>Each vehicle is provided with disinfectant wipes and 2 pieces of disposable masks.</li>
            </lu>
            <button data-modal-target="#modal" class="open-button">Please read the Terms and Conditions before
                booking</button>
        </div>
    </section>



    <%- include('termsAndConditions') %>
        <div id="overlay"></div>

        <div class="container">


            <% for(var i=0;i<vans.length;i++){ %>

                <% if(i%4==0) { %>

                    <div class="container2">
                        <% } %>

                            <div class="card">
                                <div class="img">
                                    <img src="<%= vans[i].Img_path %>">
                                </div>
                                <div class="top-text">
                                    <div class="name">
                                        <%= vans[i].Name %>
                                    </div>
                                    <p>
                                        <%= vans[i].Model %>
                                    </p>
                                </div>
                                <div class="bottom-text">
                                    <div class="text">
                                        <div><span class="icon ion-md-pricetags"> : </span><span>$<%=
                                                    vans[i].Price_Daily %>/day,
                                                    $<%= vans[i].Price_Weekly %>/week,
                                                        $<%= vans[i].Price_Monthly %>/month</span>
                                        </div>
                                        <div><span class="icon ion-md-car"> : </span> <span>
                                                <%= vans[i].Transmission %>
                                            </span>
                                        </div>
                                        <div><span class="icon ion-md-people"> : </span> <span>
                                                <%= vans[i].Seating_capacity %>
                                            </span></div>
                                        <br>
                                        <%= vans[i].Description %>
                                    </div>
                                    <div class="btn booking">
                                        <a href="/book?id=<%= vans[i]._id %>">Book</a>
                                    </div>
                                </div>
                            </div>
                            <% if(i%4==3) { %>

                    </div>
                    <% } %>
                        <% } %>

        </div>
        <%- include('footer') %>


            <script src="js/booking.js"></script>
            <script>
                const openModalButtons = document.querySelectorAll('[data-modal-target]')
                const closeModalButtons = document.querySelectorAll('[data-close-button]')
                const overlay = document.getElementById('overlay')

                openModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = document.querySelector(button.dataset.modalTarget)
                        openModal(modal)
                    })
                })

                overlay.addEventListener('click', () => {
                    const modals = document.querySelectorAll('.modal.active')
                    modals.forEach(modal => {
                        closeModal(modal)
                    })
                })

                closeModalButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const modal = button.closest('.modal')
                        closeModal(modal)
                    })
                })

                function openModal(modal) {
                    if (modal == null) return
                    modal.classList.add('active')
                    overlay.classList.add('active')

                }

                function closeModal(modal) {
                    if (modal == null) return
                    modal.classList.remove('active')
                    overlay.classList.remove('active')
                }

                $(document).ready(function () {

                    $('.booking').on('click', function () {
                        var carname = $(this).parent().siblings().children('.name').text();
                        var rate = $(this).parent().children().children().children('.ion-md-pricetags').siblings().text().split(', ');
                        var dailyrate = rate[0].slice(1, rate[0].indexOf('/'));
                        var weeklylyrate = rate[1].slice(1, rate[1].indexOf('/'))
                        var monthlyrate = rate[2].slice(1, rate[2].indexOf('/'))
                        var car_data = { carname: carname, dailyrate: dailyrate, weeklylyrate: weeklylyrate, monthlyrate: monthlyrate }
                        sessionStorage.setItem('current_booking_cardata', JSON.stringify(car_data));
                    })
                });


            </script>


            </body>

            </script>
            </body>

            </html>